.toolsBox {
    color: #fff;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    transition: transform .2s ease;
}


:global {
    // ---- 
    @img-details-bg: #787878;
    @img-details-light: #fff;
    @img-details-primary: #ccc;


    // 工具栏
    .toolsBox {
        color: #fff;
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
        transition: transform .2s ease;
        text-align: center;
    }

    // 
    .sliderRange {
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 1001;
        transition: padding .2s ease;

        .anticon {
            width: 16px;
            height: 16px;
            line-height: 1;
            font-size: 18px;
            position: relative;
            top: -3px;
            // margin-left: 14px; // 30
        }

        // 缩放组
        .tools-scale {

            .anticon {
                position: absolute;
                top: -3px;
                cursor: pointer;
            }

            >:first-child {
                left: 0px;
            }

            .slide_scale {
                margin: 0 30px;
            }

            >:last-child {
                right: 0;
            }
        }
    }

    // 图片详细信息
    .imgDetails {
        .ant-descriptions-title {
            color: @img-details-light;
        }

        .ant-drawer-content {
            background: @img-details-bg;
        }

        .ant-drawer-header {
            background: none;

            .ant-drawer-title {
                color: @img-details-light;
            }
        }

        .ant-drawer-content-wrapper {
            height: auto;
        }

        .imgDescTitle {
            color: @img-details-light;
        }

        .ant-descriptions-row {
            span {
                color: @img-details-primary;
            }
        }

        .ant-divider {
            background: #000;
            margin: 10px 0;
        }

        .listbox {
            overflow: auto;

            // height: 300px;
            .ant-list-item-meta-title {
                color: @img-details-light;
            }

            .ant-list-item-meta-description {
                color: @img-details-primary;
            }

            .ant-list-item {
                border: none;
            }
        }
    }

    // 隐藏工具栏

    .hideTools {
        .toolsBox {
            transform: translate(0, 110%);
        }

        .showTools {
            position: fixed;
            top: -110%;
            right: 20px;
            transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        }
    }

    .btn-group {
        display: flex;
        margin: 20px 0;
        justify-content: space-between;

        .ant-btn {
            background: #999;
            color: #fff;

            .anticon {
                color: inherit;
            }
        }

    }



    // ----
}